<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           ">

    <bean id="connectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://localhost:61616"/>
    </bean>

    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="connectionFactory"/>
    </bean>

    <bean id="offerTopic" class="org.apache.activemq.command.ActiveMQTopic">
        <constructor-arg value="offerTopic"/>
    </bean>

    <!-- consumer -->
    <bean id="buyService" class="pl.edu.amu.dji.jms.lab2.retailer.service.BuyService">
        <property name="jmsTemplate" ref="jmsTemplate"/>
        <property name="maxPrice" value="10d"/>
    </bean>

    <bean class="org.springframework.jms.listener.SimpleMessageListenerContainer">
        <property name="messageListener" ref="buyService"/>
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="destination" ref="offerTopic"/>
    </bean>

</beans>